:root {
    --main-font-family: 'Open Sans', sans-serif;
    --main-font-size: 400;
    --main-white-color: #FFFFFF;
    --main-text-color: #555555;
    --grey-text-color: #303030;
    --accent-color: #FF6C00;
}

body {
    font-family: var(--main-font-family);
    font-weight: var(--main-font-size);
    background-color: teal;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid tomato;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}


/* HEADER */

.header .container {
    display: flex;
    align-items: center;
}

.navigation-list {
    display: flex;
}

.logo {
    width: 69px;
    height: 55px;
    margin-right: 71px;
}

.navigation-item+.navigation-item {
    margin-left: 40px;
}

.navigation-link,
.contact-us .link,
.btn {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    color: var(--main-white-color);
    cursor: pointer;
}

.btn {
    padding: 12px 20px;
    background-color: transparent;
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-color);
}

.navigation-link {
    padding-top: 52px;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--accent-color);
}

.contact-us {
    margin-left: auto;
}

.contact-us .link {
    text-transform: uppercase;
    margin-right: 40px;
}

.contact-us .link:hover,
.contact-us .link:focus {
    color: var(--accent-color);
}

.contact-us .btn {
    letter-spacing: 0.09em;
    text-transform: uppercase;
    border: 1px solid var(--accent-color);
    border-radius: 25px;
}


/* MAIN */


/* HERO */

.hero .container {
    display: flex;
    align-items: flex-end;
}

.hero .socials {
    display: flex;
}

.hero .social-item {
    margin-right: 40px;
}

.hero .social-item:last-child {
    margin-right: 0;
}

.hero .social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--grey-text-color);
}

.hero .social-link:hover,
.hero .social-link:focus {
    color: var(--accent-color);
}

.hero-group {
    width: 500px;
    padding-top: 184px;
    padding-bottom: 206px;
}

.hero .uppertitile {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
}

.hero .hero-title {
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    color: var(--main-white-color);
}

.hero .subtitle {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: #9DA4BD;
}

.slider-btn-group {
    margin-left: auto;
    padding-bottom: 40px;
}

.slider-btn-group .list {
    display: flex;
}

.slider-btn-group .item {
    margin-right: 26px;
}

.slider-btn-group .item:last-child {
    margin-right: 0;
}

.slider-btn {
    width: 60px;
    height: 24px;
    padding-bottom: 8px;
    padding-right: 0;
    padding-top: 0;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    color: var(--main-white-color);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--main-white-color);
    text-align: right;
    cursor: pointer;
}

.slider-btn-disable {
    color: rgba(157, 164, 189, 0.6);
    border-bottom: 1px solid rgba(157, 164, 189, 0.6);
    text-align: left;
    padding-left: 0;
    padding-right: auto;
}


/* ABOUT US */

.about-us .container {
    display: flex;
}